.sidebar {
    width: 50px; /* 你可以根据需求调整宽度 */
    max-height: 100%;
    background-color: #828282;
    box-sizing: border-box;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 5px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
      /* 网格间隙 */
    border: 0px solid #828282;
    border-radius: 10px;
}

.sidebar:hover {
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
}

.setting-button {
    /* 移除位置相关的样式，因为我们现在使用网格布局 */
    height: 40px;
    margin: 5px;
    border-radius: 50%;
}

.setting-button:hover {
    background-color: #45a049; /* 按钮悬停颜色 */
}

.main-page-button {
    /* 移除位置相关的样式，因为我们现在使用网格布局 */
    grid-row: -2 / -1;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
}

.main-page-button:hover {
    background-color: #45a049; /* 按钮悬停颜色 */
}

