.sidebar {
    width: 50px; /* 你可以根据需求调整宽度 */
    height: 100vh;
    background-color: #f7f7f7;
    box-sizing: border-box;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 1fr auto;  /* 1fr 表示菜单占据可用空间，auto 表示按钮使用它所需的空间 */
      /* 网格间隙 */
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;  /* 重置默认的 margin */
}

.sidebar-menu li {
    margin: 10px 0;
}

.sidebar-menu a {
    text-decoration: none;
    color: #333;
}

.main-page-button {
    /* 移除位置相关的样式，因为我们现在使用网格布局 */
    height: 40px;
    margin: 5px;
    border-radius: 50%;
}

.main-page-button:hover {
    background-color: #45a049; /* 按钮悬停颜色 */
}

